<div class="container">
  <el-input-rich-text id="editor1" [(ngModel)]="htmlContent1" [config]="config1" (ngModelChange)="onChange($event)"
                  (blur)="onBlur($event)"></el-input-rich-text>
  <p class="html">
    HTML Output:  {{ htmlContent1 }}
  </p>
</div>

