@import "../assets/style";

.angular-editor {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  &.angular-editor-bottom {
    el-input-rich-text-toolbar {
      order: 2;
    }
  }

  ::ng-deep [contenteditable=true]:empty:before {
    content: attr(placeholder);
    // display: block; // for firefox
    color: #868e96;
    opacity: 1;
  }

  .angular-editor-wrapper {
    position: relative;
    padding: 5px 0;

    .angular-editor-textarea {
      background-color: transparent;
      overflow-x: hidden;
      overflow-y: auto;
      color: $def-color;
      outline: none;
      min-height: 150px;
      resize: vertical;

      &:after {
        content: '';
        position: absolute;
        bottom: 1px;
        display: block;
        opacity: .3;
        width: 100%;
        height: .5px;
        background-color: rgba(0, 0, 0, 0.42);
        transition: height .05s ease;
      }

      &:focus:after {
        height: 1.5px;
        opacity: .6;
        background-color: $cv-primary-dark;
      }

      &:hover:after {
        opacity: .6;
        height: 1.5px;
      }

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        width: 8px;
        height: 8px;
        cursor: nwse-resize;
        background-color: rgba(255, 255, 255, 0.5)
      }

      ::ng-deep blockquote {
        margin-left: 1rem;
        border-left: 0.2em solid #dfe2e5;
        padding-left: 0.5rem;
      }

      .small {
        font-size: $fz-small;
      }
    }

    ::ng-deep p {
      margin-bottom: 0;
    }

    .angular-editor-placeholder {
      position: absolute;
      top: 0;
      padding: 5px 0;
      color: $def-color;
      opacity: 0.75;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
      &:before {
        background-color: $disabled-color;
        height: 1px;
      }
    }
  }
}
