<div class="angular-editor angular-editor-{{_config.toolbarPosition}}" #angularEditor [style.width]="_config.width"
     [style.minWidth]="_config.minWidth">
  <el-input-rich-text-toolbar #editorToolbar
                              [id]="id"
                              [uploadUrl]="_config.uploadUrl"
                              [showToolbar]="_config.showToolbar !== undefined ? _config.showToolbar : true"
                              [fonts]="getFonts()"
                              [tags]="_config.tags"
                              [defaultTag]="_config.defaultTag"
                              [customClasses]="_config.customClasses"
                              [color]="_config.defaultColor"
                              [backgroundColor]="_config.defaultBackgroundColor"
                              [defaultFontName]="_config.defaultFontName"
                              [hiddenButtons]="_config.toolbarHiddenButtons"
                              (execute)="executeCommand($event)"></el-input-rich-text-toolbar>

  <div class="angular-editor-wrapper" #editorWrapper>
    <div #editor class="angular-editor-textarea"
         [attr.contenteditable]="_config.editable"
         [attr.tabindex]="disabled ? -1 : tabIndex"
         [attr.translate]="_config.translate"
         [attr.spellcheck]="_config.spellcheck"
         [style.height]="_config.height"
         [style.minHeight]="_config.minHeight"
         [style.maxHeight]="_config.maxHeight"
         [style.outline]="_config.outline === false ? 'none': undefined"
         (input)="onContentChange($event.target)"
         (focus)="onTextAreaFocus($event)"
         (blur)="onTextAreaBlur($event)"
         (click)="exec()"
         (keyup)="exec()"
         (mouseout)="onTextAreaMouseOut($event)"
    >
    </div>
    <span class="angular-editor-placeholder"
          *ngIf="showPlaceholder">{{ modeVisual ? _config.textPlaceholder : _config.codePlaceholder }}</span>
    <div class="angular-editor-underline"></div>
  </div>
</div>
