@import "../../../assets/variables";

ae-select {
  outline: none;
}

.ae-font {
  &.ae-picker {
    color: #444;
    display: inline-block;
    float: left;
    width: 100%;
    position: relative;
    vertical-align: middle;
  }
  .ae-picker-label {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding-left: 8px;
    padding-right: 10px;
    position: relative;
    width: 100%;
    line-height: 28px;
    vertical-align: middle;
    font-size: 85%;
    text-align: left;
    background-color: white;
    min-width: 2rem;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    transition: 0.2s ease;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
      color: $cv-primary-dark;
      svg {
        .ae-stroke {
          stroke: $cv-primary-dark;
        }
      }
    }
    &:disabled {
      pointer-events: none;
      cursor: not-allowed;
      color: $disabled-color;
      svg {
        .ae-stroke {
          stroke: $disabled-color;
        }
      }
    }

    svg {
      position: absolute;
      margin-top: -9px;
      right: 0;
      top: 50%;
      width: 18px;
      &:not(:root) {
        overflow: hidden;
      }
      .ae-stroke {
        fill: none;
        transition: 0.2s ease;
        stroke: $def-color;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
      }
    }
  }
  .ae-picker-options {
    background-color: #fff;
    display: none;
    min-width: 100%;
    position: absolute;
    white-space: nowrap;
    z-index: 3;
    border: 1px solid transparent;
    box-shadow: rgba(0,0,0,0.2) 0 2px 8px;
    .ae-picker-item {
      cursor: pointer;
      display: block;
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 5px;
      z-index: 3;
      text-align: left;
      background-color: transparent;
      min-width: 2rem;
      outline: none;
      width: 100%;
      transition: .2s ease;
      border: 0 solid #ddd;
      &.selected {
        color: $cv-primary-dark;
      }
      &:hover {
        color: $cv-primary-dark;
      }
    }
  }
  .h1 {
    font-size: $fz-h1;
  }
  .h2 {
    font-size: $fz-h2;
  }
  .h3 {
    font-size: $fz-h3;
  }
  .h4 {
    font-size: $fz-h4;
  }
  .small {
    font-size: $fz-small;
  }
  .p {
    font-size: $fz-base;
  }
  &.ae-expanded {
    display: block;
    z-index: 99;
    .ae-picker-label {
      color: #ccc;
      z-index: 2;
      svg {
        color: #ccc;
        z-index: 2;
        .ae-stroke {
          stroke: #ccc;
        }
      }
    }
    .ae-picker-options {
      display: block;
      margin-top: -1px;
      top: 100%;
      z-index: 3;
      border-color: #ccc;
    }
  }
}
