<div class="angular-editor-toolbar" *ngIf="showToolbar">
  <div class="angular-editor-toolbar-wrap">
    <ng-container *ngTemplateOutlet="toolbarList;"></ng-container>
    <div class="angular-editor-toolbar-set" *ngIf="!isButtonHidden('toggleHiddenButtons') && hiddenButtons && hiddenButtons[0] && hiddenButtons[0][0]">
      <button [id]="'toggleHiddenButtons-'+id" type="button" title="Open hidden buttons" class="angular-editor-button toggle-button"
              (click)="triggerCommand('toggleHiddenButtons')" tabindex="-1">
        <svg [class.opened]="hiddenMode" width="24px" height="24px"><use xlink:href="#rt-svg-dots"></use></svg>
      </button>
    </div>
  </div>
  <div class="angular-editor-toolbar-wrap" *ngIf="hiddenMode">
    <ng-container *ngTemplateOutlet="toolbarList; context: { forceDisplay: true }"></ng-container>
  </div>
</div>

<ng-template #toolbarList let-forceDisplay="forceDisplay">
  <div class="angular-editor-toolbar-set">
    <button *ngIf="forceDisplay ? isButtonHidden('undo') : !isButtonHidden('undo')"
            type="button" title="Undo" class="angular-editor-button" (click)="triggerCommand('undo')"
            tabindex="-1"><svg width="16px" height="16px"><use xlink:href="#rt-svg-undo"></use></svg>
    </button>
    <button *ngIf="forceDisplay ? isButtonHidden('redo') : !isButtonHidden('redo')"
            type="button" title="Redo" class="angular-editor-button"  (click)="triggerCommand('redo')"
            tabindex="-1"><svg width="16px" height="16px"><use xlink:href="#rt-svg-redo"></use></svg></button>
  </div>
  <div class="angular-editor-toolbar-set">
    <ae-select class="select-heading" [options]="headings"
               *ngIf="forceDisplay ? isButtonHidden('heading') : !isButtonHidden('heading')"
               [id]="'heading'"
               [(ngModel)]="block"
               (change)="triggerCommand(block)"
               [disabled]="htmlMode || listMode"
               tabindex="-1"></ae-select>
  </div>
  <div class="angular-editor-toolbar-set">
    <ae-select class="select-font" [options]="fonts"
               *ngIf="forceDisplay ? isButtonHidden('fontName') : !isButtonHidden('fontName')"
               [id]="'font'"
               [(ngModel)]="fontName"
               (change)="setFontName(fontName)"
               [disabled]="htmlMode"
               tabindex="-1"></ae-select>
  </div>
  <div class="angular-editor-toolbar-set">
    <button *ngIf="forceDisplay ? isButtonHidden('bold') : !isButtonHidden('bold')"
            [id]="'bold-'+id" type="button" title="Bold" class="angular-editor-button" (click)="triggerCommand('bold')"
            [disabled]="htmlMode" tabindex="-1"><svg width="12px" height="16px"><use xlink:href="#rt-svg-bold"></use></svg></button>
    <button *ngIf="forceDisplay ? isButtonHidden('italic') : !isButtonHidden('italic')"
            [id]="'italic-'+id" type="button" title="Italic" class="angular-editor-button"
            (click)="triggerCommand('italic')"
            [disabled]="htmlMode" tabindex="-1"><svg width="12px" height="16px"><use xlink:href="#rt-svg-italic"></use></svg>
    </button>
    <button *ngIf="forceDisplay ? isButtonHidden('underline') : !isButtonHidden('underline')"
            [id]="'underline-'+id" type="button" title="Underline" class="angular-editor-button"
            (click)="triggerCommand('underline')" [disabled]="htmlMode"
            tabindex="-1"><svg width="12px" height="16px"><use xlink:href="#rt-svg-underline"></use></svg></button>
    <button *ngIf="forceDisplay ? isButtonHidden('strikeThrough') : !isButtonHidden('strikeThrough')"
            [id]="'strikeThrough-'+id" type="button" title="Strikethrough" class="angular-editor-button"
            (click)="triggerCommand('strikeThrough')" [disabled]="htmlMode"
            tabindex="-1"><svg width="13px" height="16px"><use xlink:href="#rt-svg-strike-through"></use></svg></button>
    <button *ngIf="forceDisplay ? isButtonHidden('subscript') : !isButtonHidden('subscript')"
            [id]="'subscript-'+id" type="button" title="Subscript" class="angular-editor-button"
            (click)="triggerCommand('subscript')" [disabled]="htmlMode"
            tabindex="-1"><svg width="16px" height="16px"><use xlink:href="#rt-svg-subscript"></use></svg></button>
    <button *ngIf="forceDisplay ? isButtonHidden('superscript') : !isButtonHidden('superscript')"
            [id]="'superscript-'+id" type="button" title="Superscript" class="angular-editor-button"
            (click)="triggerCommand('superscript')" [disabled]="htmlMode"
            tabindex="-1"><svg width="16px" height="16px"><use xlink:href="#rt-svg-superscript"></use></svg></button>
  </div>
  <div class="angular-editor-toolbar-set">
    <button *ngIf="forceDisplay ? isButtonHidden('justifyLeft') : !isButtonHidden('justifyLeft')"
            [id]="'justifyLeft-'+id" type="button" title="Justify Left" class="angular-editor-button"
            (click)="triggerCommand('justifyLeft')" [disabled]="htmlMode"
            tabindex="-1"><svg width="16px" height="16px"><use xlink:href="#rt-svg-left-align"></use></svg></button>
    <button *ngIf="forceDisplay ? isButtonHidden('justifyCenter') : !isButtonHidden('justifyCenter')"
            [id]="'justifyCenter-'+id" type="button" title="Justify Center" class="angular-editor-button"
            (click)="triggerCommand('justifyCenter')" [disabled]="htmlMode"
            tabindex="-1"><svg width="16px" height="16px"><use xlink:href="#rt-svg-center-align"></use></svg></button>
    <button *ngIf="forceDisplay ? isButtonHidden('justifyRight') : !isButtonHidden('justifyRight')"
            [id]="'justifyRight-'+id" type="button" title="Justify Right" class="angular-editor-button"
            (click)="triggerCommand('justifyRight')" [disabled]="htmlMode"
            tabindex="-1"><svg width="16px" height="16px"><use xlink:href="#rt-svg-right-align"></use></svg></button>
    <button *ngIf="forceDisplay ? isButtonHidden('justifyFull') : !isButtonHidden('justifyFull')"
            [id]="'justifyFull-'+id" type="button" title="Justify Full" class="angular-editor-button"
            (click)="triggerCommand('justifyFull')" [disabled]="htmlMode"
            tabindex="-1"><svg width="16px" height="16px"><use xlink:href="#rt-svg-justify-align"></use></svg></button>
  </div>
  <div class="angular-editor-toolbar-set">
    <button *ngIf="forceDisplay ? isButtonHidden('indent') : !isButtonHidden('indent')"
            [id]="'indent-'+id" type="button" title="Indent" class="angular-editor-button"
            (click)="triggerCommand('indent')"
            [disabled]="htmlMode" tabindex="-1"><svg width="16px" height="16px"><use xlink:href="#rt-svg-indent"></use></svg></button>
    <button *ngIf="forceDisplay ? isButtonHidden('outdent') : !isButtonHidden('outdent')"
            [id]="'outdent-'+id" type="button" title="Outdent" class="angular-editor-button"
            (click)="triggerCommand('outdent')"
            [disabled]="htmlMode" tabindex="-1"><svg width="16px" height="16px"><use xlink:href="#rt-svg-outdent"></use></svg></button>
  </div>
  <div class="angular-editor-toolbar-set">
    <button *ngIf="forceDisplay ? isButtonHidden('insertUnorderedList') : !isButtonHidden('insertUnorderedList')"
            [id]="'insertUnorderedList-'+id" type="button" title="Unordered List" class="angular-editor-button"
            (click)="triggerCommand('insertUnorderedList')" [disabled]="htmlMode"
            tabindex="-1"><svg width="16px" height="16px"><use xlink:href="#rt-svg-bullet-list"></use></svg></button>
    <button *ngIf="forceDisplay ? isButtonHidden('insertOrderedList') : !isButtonHidden('insertOrderedList')"
            [id]="'insertOrderedList-'+id" type="button" title="Ordered List" class="angular-editor-button"
            (click)="triggerCommand('insertOrderedList')" [disabled]="htmlMode"
            tabindex="-1"><svg width="16px" height="16px"><use xlink:href="#rt-svg-numbered-list"></use></svg></button>
  </div>
  <div class="angular-editor-toolbar-set angular-editor-toolbar-set-color">
    <input [(colorPicker)]="color"
           #fgInput
           style="display: none;"
           (colorPickerChange)="insertColor(color, 'textColor')"/>
    <button *ngIf="forceDisplay ? isButtonHidden('textColor') : !isButtonHidden('textColor')"
            [id]="'foregroundColorPicker-'+id" type="button" class="angular-editor-button" (click)="fgInput.click()"
            title="Text Color"
            [disabled]="htmlMode" tabindex="-1">
      <svg width="16px" height="16px"><use xlink:href="#rt-svg-text-color"></use></svg>
      <span class="selected-color" [style.background-color]="color"></span>
    </button>
    <input [(colorPicker)]="backgroundColor"
           #bgInput
           style="display: none;"
           (colorPickerChange)="insertColor(backgroundColor, 'backgroundColor')"/>
    <button *ngIf="forceDisplay ? isButtonHidden('backgroundColor') : !isButtonHidden('backgroundColor')"
            [id]="'backgroundColorPicker-'+id" type="button" class="angular-editor-button" (click)="bgInput.click()"
            title="Background Color"
            [disabled]="htmlMode" tabindex="-1"><span
      class="color-label background"><svg width="16px" height="16px"><use xlink:href="#rt-svg-highlighter"></use></svg></span>
      <span class="selected-color" [style.background-color]="backgroundColor"></span>
    </button>
  </div>
<!--  <div *ngIf="_customClasses" class="angular-editor-toolbar-set">-->
<!--    <ae-select class="select-custom-style"-->
<!--               *ngIf="forceDisplay ? isButtonHidden('customClasses') : !isButtonHidden('customClasses')"-->
<!--               [id]="'customClass'"-->
<!--               [options]="customClassList"-->
<!--               [(ngModel)]="customClassId"-->
<!--               (change)="setCustomClass(customClassId)"-->
<!--               [disabled]="htmlMode"-->
<!--               tabindex="-1"></ae-select>-->
<!--  </div>-->
  <div class="angular-editor-toolbar-set">
    <button *ngIf="forceDisplay ? isButtonHidden('insertHorizontalRule') : !isButtonHidden('insertHorizontalRule')"
            [id]="'insertHorizontalRule-'+id" type="button" title="Horizontal Line" class="angular-editor-button"
            (click)="triggerCommand('insertHorizontalRule')" [disabled]="htmlMode"
            tabindex="-1"><span class="horizontal-rule"></span>
    </button>
    <button *ngIf="forceDisplay ? isButtonHidden('link') : !isButtonHidden('link')"
            [id]="'link-'+id" type="button" class="angular-editor-button" (click)="insertUrl()"
            title="Insert Link" [disabled]="isLinkButtonDisabled" tabindex="-1">
      <svg width="16px" height="16px"><use xlink:href="#rt-svg-link"></use></svg>
    </button>
    <button *ngIf="forceDisplay ? isButtonHidden('unlink') : !isButtonHidden('unlink')"
            [id]="'unlink-'+id" type="button" class="angular-editor-button unlink-button" (click)="triggerCommand('unlink')"
            title="Unlink" [disabled]="htmlMode || !linkSelected" tabindex="-1">
      <svg width="16px" height="16px"><use xlink:href="#rt-svg-link"></use></svg>
    </button>
    <input
      style="display: none"
      accept="image/*"
      type="file" (change)="onFileChanged($event)"
      #fileInput>
  </div>
  <div class="angular-editor-toolbar-set">
    <button *ngIf="forceDisplay ? isButtonHidden('removeFormat') : !isButtonHidden('removeFormat')"
            [id]="'clearFormatting-'+id" type="button" title="Clear Formatting" class="angular-editor-button clear-button"
            (click)="triggerCommand('removeFormat')" [disabled]="htmlMode"
            tabindex="-1"><svg width="16px" height="16px"><use xlink:href="#rt-svg-erace"></use></svg>
    </button>
  </div>
  <div class="angular-editor-toolbar-set">
    <button *ngIf="forceDisplay ? isButtonHidden('toggleEditorMode') : !isButtonHidden('toggleEditorMode')"
            [id]="'toggleEditorMode-'+id" type="button" title="HTML Code" class="angular-editor-button"
            (click)="triggerCommand('toggleEditorMode')" tabindex="-1">
      <svg width="16px" height="16px"><use xlink:href="#rt-svg-code"></use></svg>
    </button>
  </div>
  <div *ngFor="let btn of customButtons" class="angular-editor-toolbar-set">
    <button *ngIf="forceDisplay ? isButtonHidden('toggleEditorMode') : !isButtonHidden('toggleEditorMode')"
            [id]="btn.id" type="button" [title]="btn.ico" class="angular-editor-button"
            (click)="triggerCommand(btn.id)" tabindex="-1">
      <svg><use [attr.xlink:href]="'#' + btn.ico"></use></svg>
    </button>
  </div>
</ng-template>

<svg width="16px" height="16px" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <symbol id="rt-svg-dots" viewBox="0 0 24 24">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1807 12.4096C17.1807 11.0813 18.262 10 19.5904 10C20.9187 10 22 11.0813 22 12.4096C22 13.738 20.9187 14.8193 19.5904 14.8193C18.262 14.8193 17.1807 13.738 17.1807 12.4096ZM18.1728 12.4097C18.1728 13.1914 18.8087 13.8272 19.5903 13.8272C20.3719 13.8272 21.0077 13.1914 21.0077 12.4097C21.0077 11.6281 20.3719 10.9923 19.5903 10.9923C18.8087 10.9923 18.1728 11.6281 18.1728 12.4097Z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 10C13.3283 10 14.4096 11.0813 14.4096 12.4096C14.4096 13.738 13.3283 14.8193 12 14.8193C10.6717 14.8193 9.59036 13.738 9.59036 12.4096C9.59036 11.0813 10.6717 10 12 10ZM10.5825 12.4097C10.5825 13.1914 11.2183 13.8272 11.9999 13.8272C12.7815 13.8272 13.4173 13.1914 13.4173 12.4097C13.4173 11.6281 12.7815 10.9923 11.9999 10.9923C11.2183 10.9923 10.5825 11.6281 10.5825 12.4097Z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12.4096C2 11.0813 3.0813 10 4.40964 10C5.73798 10 6.81928 11.0813 6.81928 12.4096C6.81928 13.738 5.73798 14.8193 4.40964 14.8193C3.0813 14.8193 2 13.738 2 12.4096ZM2.99214 12.4097C2.99214 13.1914 3.62796 13.8272 4.40958 13.8272C5.19119 13.8272 5.82701 13.1914 5.82701 12.4097C5.82701 11.6281 5.19119 10.9923 4.40958 10.9923C3.62796 10.9923 2.99214 11.6281 2.99214 12.4097Z"/>
    </symbol>
    <symbol id="rt-svg-undo" viewBox="0 0 18 18">
      <path d="M1.5 7.76663H5.83337C6.1646 7.76663 6.43337 7.49786 6.43337 7.16663C6.43337 6.8354 6.1646 6.56663 5.83337 6.56663H2.1V2.83337C2.1 2.50214 1.83123 2.23337 1.5 2.23337C1.16877 2.23337 0.9 2.50214 0.9 2.83337V7.16663C0.9 7.49786 1.16877 7.76663 1.5 7.76663Z"   stroke-width="0.2"/>
      <path d="M4.1229 13.8773L4.12287 13.8773C3.88931 13.6437 3.50936 13.642 3.27419 13.8773C3.03969 14.1116 3.03967 14.4916 3.27413 14.726C4.8035 16.2568 6.83762 17.1 9.00015 17.1C13.4668 17.1 17.1002 13.4666 17.1002 9C17.1002 4.53339 13.4668 0.9 9.00015 0.9C5.19497 0.9 1.79475 3.47146 0.917717 7.02339L0.917646 7.02368C0.839326 7.34502 1.03518 7.66979 1.35663 7.74975L1.357 7.74984C1.68002 7.82888 2.00328 7.63277 2.08317 7.3107L2.0832 7.31058C2.82742 4.29502 5.73499 2.1 9.00015 2.1C12.8049 2.1 15.9002 5.19524 15.9002 9C15.9002 12.8048 12.8049 15.9 9.00015 15.9C7.15734 15.9 5.42619 15.1819 4.1229 13.8773Z"   stroke-width="0.2"/>
    </symbol>
    <symbol id="rt-svg-redo" viewBox="0 0 18 18">
      <path d="M12.1666 7.76662H16.5C16.8312 7.76662 17.1 7.49785 17.1 7.16663V2.83325C17.1 2.50202 16.8312 2.23325 16.5 2.23325C16.1688 2.23325 15.9 2.50202 15.9 2.83325V6.56663H12.1666C11.8354 6.56663 11.5666 6.8354 11.5666 7.16663C11.5666 7.49785 11.8354 7.76662 12.1666 7.76662Z"   stroke-width="0.2"/>
      <path d="M17.0831 7.02264L17.0831 7.0227C17.1623 7.34412 16.9664 7.6698 16.6439 7.74908C16.6439 7.74908 16.6439 7.74909 16.6439 7.74909L16.62 7.65198C16.3521 7.7179 16.0807 7.55457 16.0147 7.28601L17.0831 7.02264ZM17.0831 7.02264C16.2054 3.47133 12.8052 0.9 9 0.9C4.5334 0.9 0.9 4.53339 0.9 9C0.9 13.4665 4.5334 17.1 9 17.1C11.1625 17.1 13.1966 16.2567 14.7267 14.7267L14.7267 14.7267C14.9611 14.4922 14.9611 14.1123 14.7267 13.8779C14.4923 13.6435 14.1124 13.6436 13.8779 13.8779L13.8779 13.8779C12.574 15.1818 10.8428 15.9 9 15.9C5.19525 15.9 2.1 12.8048 2.1 9C2.1 5.19512 5.19524 2.1 9 2.1C12.2652 2.1 15.1728 4.29491 15.9176 7.30999L17.0831 7.02264Z" stroke-width="0.2"/>
    </symbol>
    <symbol id="rt-svg-text-color" viewBox="0 0 16 18">
      <path d="M8.19632 3.2928L12.787 14.0042C12.8918 14.249 13.1771 14.4011 13.4823 14.4012H13.4824C13.5594 14.4012 13.6361 14.3915 13.7095 14.3725C13.898 14.3236 14.0485 14.2185 14.1359 14.0827C14.2239 13.9459 14.2459 13.7796 14.1777 13.6203L14.1777 13.6203L8.89165 1.28531L8.89216 1.28509L8.88759 1.27721L8.19632 3.2928ZM8.19632 3.2928L3.60562 14.0042L3.60428 14.0073L3.60421 14.0073C3.4555 14.3148 3.03093 14.454 2.66455 14.3468C2.31524 14.2446 2.09633 13.9363 2.21367 13.6235L2.21488 13.6202L2.21496 13.6203L7.50099 1.28531L7.50457 1.27695L7.50504 1.27723C7.68338 0.969674 8.13243 0.846346 8.50375 0.976663L8.19632 3.2928ZM14.1087 13.6498C14.2241 13.9191 14.0369 14.2101 13.6907 14.2999C13.6235 14.3172 13.5532 14.3262 13.4824 14.3262C13.1981 14.3261 12.9458 14.1845 12.856 13.9747L14.1087 13.6498Z" stroke-width="0.15"/>
      <path d="M5.10731 10.3352H11.7148C12.1101 10.3352 12.4757 10.0823 12.4757 9.72126C12.4757 9.36026 12.1102 9.10729 11.7149 9.10729H5.10731C4.71201 9.10729 4.34653 9.3602 4.34653 9.72122C4.34653 10.0822 4.712 10.3352 5.10731 10.3352Z" stroke-width="0.2"/>
      <path d="M1.54 17.075H14.86C15.2059 17.075 15.475 16.7695 15.475 16.4078C15.475 16.0462 15.2059 15.7406 14.86 15.7406H1.54C1.19413 15.7406 0.925 16.0462 0.925 16.4078C0.925 16.7695 1.19413 17.075 1.54 17.075Z" stroke-width="0.15"/>
    </symbol>
    <symbol id="rt-svg-bold">
      <path d="M8.81605 7.64643C9.66901 6.99632 10.4117 5.94998 10.4117 4.27737V4.23454C10.4117 3.17137 10.0604 2.24799 9.36748 1.49C9.36418 1.48636 9.36076 1.48277 9.35735 1.47925C8.41956 0.51151 7.01629 0 5.29917 0H0.503947C0.2256 0 0 0.229139 0 0.511851V15.4881C0 15.7709 0.2256 16 0.503947 16H5.56195C7.20734 16 8.60226 15.5897 9.59594 14.8135C10.6453 13.9937 11.2 12.814 11.2 11.4018V11.359C11.2 9.68115 10.3806 8.41369 8.81605 7.64643ZM5.60238 13.4574H2.58452V9.19654H5.31939C6.42443 9.19654 7.29822 9.39849 7.84634 9.78062C8.33668 10.1225 8.57511 10.6038 8.57511 11.252V11.2948C8.57511 13.2466 6.49616 13.4574 5.60238 13.4574ZM5.03522 6.67522H2.58452V2.5427H5.15773C6.82854 2.5427 7.78677 3.24513 7.78677 4.46988V4.51265C7.78671 6.39427 6.06282 6.67522 5.03522 6.67522Z"/>
    </symbol>
    <symbol id="rt-svg-bullet-list" viewBox="0 0 18 16">
      <path d="M6.23395 3.27036H16.5031C16.8363 3.27036 17.1 2.99036 17.1 2.65362C17.1 2.31687 16.8363 2.03687 16.5031 2.03687H6.23395C5.90078 2.03687 5.63706 2.31687 5.63706 2.65362C5.63706 2.99036 5.90078 3.27036 6.23395 3.27036Z" stroke-width="0.2"/>
      <path d="M6.23395 8.78235H16.5031C16.8363 8.78235 17.1 8.50235 17.1 8.16561C17.1 7.82886 16.8363 7.54886 16.5031 7.54886H6.23395C5.90078 7.54886 5.63706 7.82886 5.63706 8.16561C5.63706 8.50235 5.90078 8.78235 6.23395 8.78235Z" stroke-width="0.2"/>
      <path d="M6.23395 14.2942H16.5031C16.8363 14.2942 17.1 14.0142 17.1 13.6775C17.1 13.3407 16.8363 13.0607 16.5031 13.0607H6.23395C5.90078 13.0607 5.63706 13.3407 5.63706 13.6775C5.63706 14.0142 5.90078 14.2942 6.23395 14.2942Z" stroke-width="0.2"/>
      <path d="M2.90476 11.5605C1.81918 11.5605 0.95 12.4248 0.95 13.5053C0.95 14.5858 1.81918 15.45 2.90476 15.45C3.9903 15.45 4.85951 14.5858 4.85951 13.5053C4.85948 12.4783 3.9912 11.5605 2.90476 11.5605ZM2.90476 14.35C2.45591 14.35 2.10821 14.0037 2.10821 13.5579C2.10821 13.1121 2.45594 12.7658 2.90476 12.7658C3.3536 12.7658 3.70131 13.1121 3.70131 13.5579C3.70131 14.0037 3.35357 14.35 2.90476 14.35Z" stroke-width="0.1"/>
      <path d="M2.90476 6.25527C1.81918 6.25527 0.95 7.11953 0.95 8.2C0.95 9.28048 1.81918 10.1447 2.90476 10.1447C3.9903 10.1447 4.85952 9.28051 4.85952 8.2C4.85952 7.1195 3.9903 6.25527 2.90476 6.25527ZM2.90476 8.9921C2.45591 8.9921 2.10821 8.64582 2.10821 8.2C2.10821 7.75419 2.45594 7.40791 2.90476 7.40791C3.3536 7.40791 3.70131 7.75416 3.70131 8.2C3.70131 8.64585 3.35358 8.9921 2.90476 8.9921Z" stroke-width="0.1"/>
      <path d="M2.90478 0.95C1.81919 0.95 0.95 1.81424 0.95 2.89472C0.95 3.9752 1.81919 4.83947 2.90478 4.83947C3.99033 4.83947 4.85955 3.97523 4.85955 2.89472C4.85952 1.81424 3.99033 0.95 2.90478 0.95ZM2.90478 3.73947C2.45592 3.73947 2.10822 3.39321 2.10822 2.94737C2.10822 2.50152 2.45595 2.15526 2.90478 2.15526C3.35362 2.15526 3.70133 2.50155 3.70133 2.94737C3.70133 3.34259 3.35161 3.73947 2.90478 3.73947Z" stroke-width="0.1"/>
    </symbol>
    <symbol id="rt-svg-center-align" viewBox="0 0 16 15">
      <path d="M0.727273 1.6H15.2727C15.6744 1.6 16 1.24181 16 0.8C16 0.358187 15.6744 0 15.2727 0H0.727273C0.325624 0 0 0.358187 0 0.8C0 1.24181 0.325624 1.6 0.727273 1.6Z"/>
      <path d="M2.66666 3.19998C2.26502 3.19998 1.93939 3.55817 1.93939 3.99998C1.93939 4.44179 2.26502 4.79998 2.66666 4.79998H13.3333C13.735 4.79998 14.0606 4.44179 14.0606 3.99998C14.0606 3.55817 13.735 3.19998 13.3333 3.19998H2.66666Z"/>
      <path d="M15.2727 6.40002H0.727273C0.325624 6.40002 0 6.75821 0 7.20002C0 7.64184 0.325624 8.00003 0.727273 8.00003H15.2727C15.6744 8.00003 16 7.64184 16 7.20002C16 6.75821 15.6744 6.40002 15.2727 6.40002Z"/>
      <path d="M15.2727 12.8H0.727273C0.325624 12.8 0 13.1582 0 13.6C0 14.0418 0.325624 14.4 0.727273 14.4H15.2727C15.6744 14.4 16 14.0418 16 13.6C16 13.1582 15.6744 12.8 15.2727 12.8Z" />
      <path d="M13.3333 11.2C13.735 11.2 14.0606 10.8418 14.0606 10.4C14.0606 9.95819 13.735 9.60001 13.3333 9.60001H2.66666C2.26502 9.60001 1.93939 9.95819 1.93939 10.4C1.93939 10.8418 2.26502 11.2 2.66666 11.2H13.3333Z"/>
    </symbol>
    <symbol id="rt-svg-code" viewBox="0 0 18 16">
      <path d="M7.16843 15.5012C6.83034 15.4032 6.64336 15.0341 6.73048 14.6892C6.73049 14.6891 6.73051 14.689 6.73053 14.689L10.0638 1.3699C10.0638 1.36985 10.0638 1.36981 10.0638 1.36977C10.1499 1.02325 10.489 0.79629 10.8332 0.899927C11.1711 0.997962 11.3582 1.36693 11.271 1.7119L11.271 1.71181L11.1497 1.68147L11.2709 1.71216L7.16843 15.5012ZM7.16843 15.5012C7.22432 15.5179 7.28026 15.525 7.33377 15.525C7.61588 15.525 7.86476 15.3235 7.9377 15.0316M7.16843 15.5012L7.93772 15.0315M7.93772 15.0315L7.81644 15.0012L7.9377 15.0316M7.93772 15.0315C7.93771 15.0315 7.93771 15.0315 7.9377 15.0316M7.93772 15.0315L7.9377 15.0316" stroke-width="0.25"/>
      <path d="M5.3967 13.1765L5.39683 13.1766C5.5176 13.3017 5.67403 13.3652 5.83342 13.3652C6.0005 13.3652 6.16568 13.2946 6.28738 13.1577C6.52286 12.8944 6.51466 12.4776 6.27008 12.224L2.39487 8.20037L6.27014 4.17666L6.27021 4.17658C6.51406 3.92295 6.5222 3.50624 6.28738 3.24299C6.04763 2.97326 5.64668 2.96601 5.39693 3.224L5.3967 3.22424L1.06328 7.7241L1.06307 7.72432C0.941883 7.8508 0.875 8.02255 0.875 8.20037C0.875 8.37819 0.941883 8.54994 1.06307 8.67642L1.06328 8.67664L5.3967 13.1765Z"   stroke-width="0.25"/>
      <path d="M16.9367 7.72386L12.6034 3.22408L12.6033 3.224L12.6034 3.22405C12.3534 2.96406 11.9522 2.9724 11.7126 3.24275C11.4772 3.50604 11.4854 3.9228 11.7299 4.17642C11.7299 4.17644 11.7299 4.17646 11.7299 4.17648L15.6051 8.20013L11.7299 12.2238L11.7296 12.2241C11.4861 12.4784 11.4777 12.8943 11.7127 13.1576L11.806 13.0744L11.7126 13.1575C11.8343 13.2943 11.9995 13.365 12.1666 13.365C12.326 13.365 12.4824 13.3014 12.6032 13.1764L12.6033 13.1763L16.9367 8.67641L16.937 8.67618C17.0581 8.54971 17.125 8.37795 17.125 8.20013C17.125 8.02231 17.0581 7.85056 16.937 7.72408L16.9367 7.72386Z" stroke-width="0.25"/>
    </symbol>
    <symbol id="rt-svg-erace" viewBox="0 0 18 16">
      <path d="M1.58055 15.4744H15.9008C16.2613 15.4744 16.5564 15.1872 16.5564 14.8302C16.5564 14.4732 16.2613 14.1859 15.9008 14.1859H1.58055C1.22006 14.1859 0.925 14.4732 0.925 14.8302C0.925 15.1872 1.22006 15.4744 1.58055 15.4744Z" stroke-width="0.15"/>
      <path d="M11.6988 2.44992L11.6993 2.45045L15.4999 6.17725C15.6708 6.34476 15.7639 6.56544 15.7639 6.79913C15.7639 7.02792 15.6711 7.24567 15.4999 7.4135L8.40182 14.3736C8.14492 14.6253 8.1449 15.0341 8.40174 15.2859C8.52954 15.4121 8.69746 15.4744 8.8645 15.4744C9.03173 15.4744 9.19951 15.412 9.32744 15.2858C9.32746 15.2858 9.32748 15.2858 9.3275 15.2858L16.4255 8.32598C16.8435 7.91604 17.075 7.37393 17.075 6.79996C17.075 6.22077 16.8437 5.67638 16.4255 5.26631L12.6309 1.54489C12.6308 1.54479 12.6307 1.54468 12.6306 1.54457C11.8104 0.720163 10.3251 0.718321 9.50826 1.53999C9.50815 1.5401 9.50804 1.54022 9.50793 1.54033L1.57968 9.31342C1.57958 9.31352 1.57947 9.31362 1.57936 9.31372C1.15765 9.71803 0.925 10.2644 0.925 10.853C0.925 11.4365 1.15771 11.9803 1.57397 12.3801C1.57406 12.3802 1.57415 12.3803 1.57425 12.3803L4.53837 15.2868C4.79432 15.5377 5.20866 15.5377 5.46473 15.2868L5.46477 15.2868C5.7215 15.0349 5.72152 14.6261 5.46475 14.3743L2.49539 11.4627L2.49468 11.4621C2.32786 11.3027 2.2361 11.0863 2.2361 10.853C2.2361 10.6827 2.28094 10.4409 2.49943 10.2317L2.50006 10.2311L10.4388 2.4467L10.4395 2.44603C10.6022 2.28238 10.8235 2.19186 11.0628 2.19186C11.237 2.19186 11.4851 2.23624 11.6988 2.44992Z"   stroke-width="0.15"/>
      <path d="M13.5561 11.1411L13.5557 11.1414C13.4268 11.2661 13.2593 11.3294 13.0925 11.3294C12.9253 11.3294 12.7575 11.2672 12.6296 11.141C12.6296 11.141 12.6295 11.1409 12.6295 11.1409L6.63851 5.26638C6.38175 5.01462 6.38174 4.60583 6.63849 4.35406L13.5561 11.1411ZM13.5561 11.1411C13.8128 10.8893 13.8128 10.4804 13.5561 10.2286L7.56476 4.35406C7.56476 4.35406 7.56475 4.35405 7.56474 4.35405M13.5561 11.1411L7.56474 4.35405M7.56474 4.35405C7.3088 4.10295 6.89445 4.10295 6.63851 4.35405L7.56474 4.35405Z"   stroke-width="0.15"/>
    </symbol>
    <symbol id="rt-svg-highlighter" viewBox="0 0 18 18">
      <path d="M1.56475 17.075H15.4954C15.8477 17.075 16.1351 16.7922 16.1351 16.4418C16.1351 16.0915 15.8477 15.8086 15.4954 15.8086H1.56475C1.21242 15.8086 0.925 16.0915 0.925 16.4418C0.925 16.7922 1.21242 17.075 1.56475 17.075Z" stroke-width="0.15"/>
      <path d="M4.10578 8.35444L4.10579 8.35405C4.11266 8.17866 4.19113 8.01405 4.32433 7.89847L4.32443 7.89839L11.783 1.44806L11.783 1.44806C12.6303 0.715359 13.9156 0.756961 14.7129 1.54436L14.713 1.54438L16.4479 3.25843C16.4479 3.25844 16.4479 3.25844 16.4479 3.25845C17.2451 4.0455 17.2872 5.31805 16.5455 6.15611L16.5455 6.15611L10.0193 13.5286L10.0192 13.5287C9.90284 13.6595 9.73771 13.7378 9.56223 13.7443C9.55202 13.7452 9.5438 13.7452 9.53818 13.7452H9.53762C9.36913 13.7452 9.20546 13.6788 9.08574 13.5598L4.10578 8.35444ZM4.10578 8.35444C4.09981 8.52989 4.16912 8.70035 4.2936 8.82338L9.08556 13.5596L4.10578 8.35444ZM9.50613 12.1864L5.68193 8.40686L12.625 2.40167C12.625 2.40167 12.625 2.40166 12.625 2.40165C12.9674 2.10573 13.4878 2.12307 13.8086 2.44074L13.8087 2.44079L15.5428 4.15472C15.8639 4.47209 15.8812 4.98505 15.5823 5.32287L9.50613 12.1864Z" stroke-width="0.15"/>
      <path d="M3.3744 10.46L3.37443 10.46L4.43914 8.35436L4.43922 8.35419C4.59818 8.04184 4.98187 7.91685 5.29667 8.07165L5.29671 8.07167C5.61324 8.22755 5.74195 8.60847 5.5835 8.92152C5.5835 8.92152 5.5835 8.92152 5.5835 8.92152L4.72494 10.618L7.26774 13.1304L8.98564 12.2819L8.98568 12.2819C9.30151 12.1262 9.68434 12.2522 9.84321 12.5644L9.84325 12.5645C10.0025 12.8784 9.87272 13.2586 9.55651 13.4144L7.42753 14.4666C7.33686 14.513 7.23933 14.5348 7.14163 14.5348C6.97648 14.5348 6.81196 14.471 6.68971 14.3495L6.68975 14.3495L3.3744 10.46ZM3.3744 10.46C3.25124 10.7041 3.29914 10.9991 3.49488 11.1917L3.3744 10.46ZM3.49494 11.1917L6.68958 14.3493L3.49494 11.1917Z" stroke-width="0.15"/>
      <path d="M1.44919 14.4523L1.4492 14.4524C1.54829 14.6881 1.7813 14.8423 2.03939 14.8423H5.23971C5.40904 14.8423 5.57185 14.7757 5.69207 14.6578L5.69229 14.6576L6.79918 13.5635C6.79918 13.5635 6.79918 13.5635 6.79918 13.5635C7.04941 13.3161 7.04956 12.914 6.79918 12.6672C6.54935 12.4203 6.14455 12.4203 5.89472 12.6672L5.89472 12.6672L4.97547 13.5759H3.58247L5.1961 11.9783L5.19615 11.9782C5.44554 11.7308 5.44553 11.3292 5.19445 11.0818L5.19444 11.0818C4.94367 10.8349 4.53907 10.8366 4.29008 11.0827L4.29001 11.0828L1.58684 13.762C1.40378 13.9428 1.34997 14.2158 1.44919 14.4523Z" stroke-width="0.15"/>
    </symbol>
    <symbol id="rt-svg-indent" viewBox="0 0 16 15">
      <path d="M15.2727 12.8H0.727273C0.325624 12.8 0 13.1582 0 13.6C0 14.0418 0.325624 14.4 0.727273 14.4H15.2727C15.6744 14.4 16 14.0418 16 13.6C16 13.1582 15.6744 12.8 15.2727 12.8Z"/>
      <path d="M15.2727 9.60001H4.60606C4.20441 9.60001 3.87878 9.95819 3.87878 10.4C3.87878 10.8418 4.20441 11.2 4.60606 11.2H15.2727C15.6744 11.2 16 10.8418 16 10.4C16 9.95819 15.6744 9.60001 15.2727 9.60001Z"/>
      <path d="M15.4545 6.39999H4.54545C4.24422 6.39999 4 6.75818 4 7.19999C4 7.64181 4.24422 7.99999 4.54545 7.99999H15.4545C15.7558 7.99999 16 7.64181 16 7.19999C16 6.75818 15.7558 6.39999 15.4545 6.39999Z"/>
      <path d="M0.727273 1.6H15.2727C15.6744 1.6 16 1.24181 16 0.8C16 0.358187 15.6744 0 15.2727 0H0.727273C0.325624 0 0 0.358187 0 0.8C0 1.24181 0.325624 1.6 0.727273 1.6Z"/>
      <path d="M15.2727 3.2H4.60606C4.20441 3.2 3.87878 3.55818 3.87878 4C3.87878 4.44181 4.20441 4.8 4.60606 4.8H15.2727C15.6744 4.8 16 4.44181 16 4C16 3.55818 15.6744 3.2 15.2727 3.2Z"/>
      <path d="M0.0862265 4.83331C0.112831 4.81112 0.142606 4.8 0.172426 4.8C0.202166 4.8 0.231932 4.81112 0.258653 4.83331L2.31376 6.9849C2.36702 7.02923 2.4 7.1113 2.4 7.20004C2.4 7.28877 2.36711 7.37083 2.31376 7.41511L0.258653 9.56679C0.205318 9.61107 0.13957 9.61107 0.0862712 9.56679C0.0329277 9.52236 0 9.44026 0 9.35158L0 5.04843C0 4.95974 0.0328741 4.87768 0.0862265 4.83331Z"/>
    </symbol>
    <symbol id="rt-svg-italic" viewBox="0 0 12 16">
      <path d="M10.4 0H7.19779C7.19641 0 7.19502 0 7.19358 0H4.00002C3.5582 0 3.20002 0.325621 3.20002 0.727266C3.20002 1.12891 3.5582 1.45453 4.00002 1.45453H6.22419L3.34418 14.5453H0.800004C0.358188 14.5453 0 14.8709 0 15.2726C0 15.6742 0.358188 15.9999 0.800004 15.9999H3.99767C3.99874 15.9999 3.99981 16 4.00082 16C4.00205 16 4.00322 15.9999 4.00434 15.9999H7.19998C7.6418 15.9999 7.99998 15.6742 7.99998 15.2726C7.99998 14.8709 7.6418 14.5453 7.19998 14.5453H4.97581L7.85582 1.45453H10.4C10.8418 1.45453 11.2 1.12891 11.2 0.727266C11.2 0.325621 10.8419 0 10.4 0Z"/>
    </symbol>
    <symbol id="rt-svg-justify-align" viewBox="0 0 16 15">
      <path d="M0.727275 1.6H15.2727C15.6744 1.6 16 1.24181 16 0.8C16 0.358187 15.6744 0 15.2727 0H0.727275C0.325625 0 0 0.358187 0 0.8C0 1.24181 0.325625 1.6 0.727275 1.6Z"/>
      <path d="M15.2727 3.19998H0.727275C0.325625 3.19998 0 3.55817 0 3.99998C0 4.44179 0.325625 4.79998 0.727275 4.79998H15.2727C15.6744 4.79998 16 4.44179 16 3.99998C16 3.55817 15.6744 3.19998 15.2727 3.19998Z"/>
      <path d="M15.2727 6.40001H0.727275C0.325625 6.40001 0 6.7582 0 7.20001C0 7.64182 0.325625 8.00001 0.727275 8.00001H15.2727C15.6744 8.00001 16 7.64182 16 7.20001C16 6.7582 15.6744 6.40001 15.2727 6.40001Z"/>
      <path d="M15.2727 12.8H0.727275C0.325625 12.8 0 13.1582 0 13.6C0 14.0418 0.325625 14.4 0.727275 14.4H15.2727C15.6744 14.4 16 14.0418 16 13.6C16 13.1582 15.6744 12.8 15.2727 12.8Z"/>
      <path d="M15.2727 9.60001H0.727275C0.325625 9.60001 0 9.95819 0 10.4C0 10.8418 0.325625 11.2 0.727275 11.2H15.2727C15.6744 11.2 16 10.8418 16 10.4C16 9.95819 15.6744 9.60001 15.2727 9.60001Z"/>
    </symbol>
    <symbol id="rt-svg-left-align" viewBox="0 0 16 15">
      <path d="M0.727273 1.6H15.2727C15.6744 1.6 16 1.24181 16 0.8C16 0.358187 15.6744 0 15.2727 0H0.727273C0.325624 0 0 0.358187 0 0.8C0 1.24181 0.325624 1.6 0.727273 1.6Z"/>
      <path d="M0.727273 4.79998H11.3939C11.7956 4.79998 12.1212 4.44179 12.1212 3.99998C12.1212 3.55817 11.7956 3.19998 11.3939 3.19998H0.727273C0.325624 3.19998 0 3.55817 0 3.99998C0 4.44179 0.325624 4.79998 0.727273 4.79998Z"/>
      <path d="M15.2727 6.40002H0.727273C0.325624 6.40002 0 6.75821 0 7.20002C0 7.64184 0.325624 8.00003 0.727273 8.00003H15.2727C15.6744 8.00003 16 7.64184 16 7.20002C16 6.75821 15.6744 6.40002 15.2727 6.40002Z"/>
      <path d="M15.2727 12.8H0.727273C0.325624 12.8 0 13.1582 0 13.6C0 14.0418 0.325624 14.4 0.727273 14.4H15.2727C15.6744 14.4 16 14.0418 16 13.6C16 13.1582 15.6744 12.8 15.2727 12.8Z"/>
      <path d="M0.727273 11.2H11.3939C11.7956 11.2 12.1212 10.8418 12.1212 10.4C12.1212 9.95819 11.7956 9.60001 11.3939 9.60001H0.727273C0.325624 9.60001 0 9.95819 0 10.4C0 10.8418 0.325624 11.2 0.727273 11.2Z"/>
    </symbol>
    <symbol id="rt-svg-link" viewBox="0 0 16 16">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.02236 15.0402C2.38551 16.3199 4.59574 16.3199 5.95889 15.0402L9.80549 11.4296C8.44676 11.5776 7.62747 11.1478 7.35359 11.0833L4.54847 13.7164C3.96513 14.2639 3.01611 14.2639 2.43278 13.7164C1.84944 13.1689 1.84944 12.278 2.43278 11.7306C2.54043 11.6294 6.97089 7.4708 6.8309 7.60232C7.39995 7.06806 8.36274 7.05441 8.94646 7.60232C8.99373 7.64669 9.02931 7.69703 9.06879 7.74542C9.27917 7.72653 9.47993 7.76359 9.65174 7.60232L10.6675 6.64887C10.5691 6.52271 10.4786 6.39265 10.3569 6.27844C9.00477 5.00917 6.74584 5.03428 5.42035 6.27844L1.02236 10.4066C-0.340787 11.6861 -0.340787 13.7607 1.02236 15.0402Z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0912 0.97393C13.8795 -0.324643 11.9148 -0.324643 10.7031 0.97393L7.43213 4.47947C8.6399 4.32929 9.36817 4.76561 9.61161 4.83093L11.957 2.31753C12.4755 1.76183 13.319 1.76183 13.8375 2.31753C14.356 2.87323 14.356 3.7773 13.8375 4.333L10.7973 7.59112L10.0762 8.36381C9.57041 8.90615 8.71459 8.92 8.19572 8.36381C8.1537 8.3189 8.12207 8.26781 8.08698 8.2187C7.89998 8.23787 7.72152 8.20014 7.56881 8.36381L6.66589 9.33146C6.75339 9.4595 6.83385 9.59162 6.94201 9.70753C8.14389 10.9957 10.1518 10.9701 11.3301 9.70753L15.0912 5.6766C16.3029 4.37803 16.3029 2.2725 15.0912 0.97393Z"/>
    </symbol>
    <symbol id="rt-svg-link" viewBox="0 0 16 16">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.02236 15.0402C2.38551 16.3199 4.59574 16.3199 5.95889 15.0402L9.80549 11.4296C8.44676 11.5776 7.62747 11.1478 7.35359 11.0833L4.54847 13.7164C3.96513 14.2639 3.01611 14.2639 2.43278 13.7164C1.84944 13.1689 1.84944 12.278 2.43278 11.7306C2.54043 11.6294 6.97089 7.4708 6.8309 7.60232C7.39995 7.06806 8.36274 7.05441 8.94646 7.60232C8.99373 7.64669 9.02931 7.69703 9.06879 7.74542C9.27917 7.72653 9.47993 7.76359 9.65174 7.60232L10.6675 6.64887C10.5691 6.52271 10.4786 6.39265 10.3569 6.27844C9.00477 5.00917 6.74584 5.03428 5.42035 6.27844L1.02236 10.4066C-0.340787 11.6861 -0.340787 13.7607 1.02236 15.0402Z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0912 0.97393C13.8795 -0.324643 11.9148 -0.324643 10.7031 0.97393L7.43213 4.47947C8.6399 4.32929 9.36817 4.76561 9.61161 4.83093L11.957 2.31753C12.4755 1.76183 13.319 1.76183 13.8375 2.31753C14.356 2.87323 14.356 3.7773 13.8375 4.333L10.7973 7.59112L10.0762 8.36381C9.57041 8.90615 8.71459 8.92 8.19572 8.36381C8.1537 8.3189 8.12207 8.26781 8.08698 8.2187C7.89998 8.23787 7.72152 8.20014 7.56881 8.36381L6.66589 9.33146C6.75339 9.4595 6.83385 9.59162 6.94201 9.70753C8.14389 10.9957 10.1518 10.9701 11.3301 9.70753L15.0912 5.6766C16.3029 4.37803 16.3029 2.2725 15.0912 0.97393Z"/>
    </symbol>
    <symbol id="rt-svg-numbered-list" viewBox="0 0 17 16">
      <path d="M2.26082 10.1818H0.521737C0.233737 10.1818 0 9.93746 0 9.63637V8.72724C0 8.02545 0.546066 7.45456 1.21734 7.45456H1.56521C1.66125 7.45456 1.73908 7.37306 1.73908 7.27279V7.09088C1.73908 6.99061 1.66125 6.90911 1.56521 6.90911H0.521737C0.233737 6.90911 0 6.66475 0 6.36366C0 6.06257 0.233737 5.81821 0.521737 5.81821H1.56521C2.23649 5.81821 2.78256 6.38909 2.78256 7.09088V7.27279C2.78256 7.97458 2.23649 8.54546 1.56521 8.54546H1.21734C1.12143 8.54546 1.04347 8.62696 1.04347 8.72724V9.09092H2.26082C2.54882 9.09092 2.78256 9.33528 2.78256 9.63637C2.78256 9.93746 2.54882 10.1818 2.26082 10.1818Z"/>
      <path d="M1.56521 14.3637H0.869604C0.581604 14.3637 0.347867 14.1193 0.347867 13.8182C0.347867 13.5171 0.581604 13.2728 0.869604 13.2728H1.56521C1.66125 13.2728 1.73908 13.1913 1.73908 13.0909V12.9091C1.73908 12.8087 1.66125 12.7273 1.56521 12.7273H0.521737C0.233737 12.7273 0 12.483 0 12.1819C0 11.8808 0.233737 11.6364 0.521737 11.6364H1.56521C2.23649 11.6364 2.78256 12.2073 2.78256 12.9091V13.0909C2.78256 13.7928 2.23649 14.3637 1.56521 14.3637Z"/>
      <path d="M1.56521 16H0.521737C0.233737 16 0 15.7556 0 15.4545C0 15.1534 0.233737 14.9091 0.521737 14.9091H1.56521C1.66125 14.9091 1.73908 14.8276 1.73908 14.7272V14.5454C1.73908 14.445 1.66125 14.3636 1.56521 14.3636H0.869604C0.581604 14.3636 0.347867 14.1193 0.347867 13.8182C0.347867 13.5171 0.581604 13.2727 0.869604 13.2727H1.56521C2.23649 13.2727 2.78256 13.8436 2.78256 14.5454V14.7272C2.78256 15.4291 2.23649 16 1.56521 16Z"/>
      <path d="M1.56521 4.36361C1.27721 4.36361 1.04347 4.11925 1.04347 3.81816V1.0909H0.521737C0.233737 1.0909 0 0.846542 0 0.545451C0 0.244361 0.233737 0 0.521737 0H1.56521C1.85321 0 2.08695 0.244361 2.08695 0.545451V3.81816C2.08695 4.11925 1.85321 4.36361 1.56521 4.36361Z"/>
      <path d="M4.69569 3.19094H15.4783C15.8257 3.19094 16.1001 2.89757 16.1001 2.54548C16.1001 2.1934 15.8257 1.90003 15.4783 1.90003H4.69569C4.34832 1.90003 4.07395 2.1934 4.07395 2.54548C4.07395 2.89757 4.34832 3.19094 4.69569 3.19094Z" stroke-width="0.2"/>
      <path d="M4.69569 9.00917H15.4783C15.8257 9.00917 16.1001 8.7158 16.1001 8.36372C16.1001 8.01164 15.8257 7.71827 15.4783 7.71827H4.69569C4.34832 7.71827 4.07395 8.01164 4.07395 8.36372C4.07395 8.7158 4.34832 9.00917 4.69569 9.00917Z" stroke-width="0.2"/>
      <path d="M4.69569 14.8272H15.4783C15.8257 14.8272 16.1001 14.5338 16.1001 14.1818C16.1001 13.8297 15.8257 13.5363 15.4783 13.5363H4.69569C4.34832 13.5363 4.07395 13.8297 4.07395 14.1818C4.07395 14.5338 4.34832 14.8272 4.69569 14.8272Z" stroke-width="0.2"/>
    </symbol>
    <symbol id="rt-svg-outdent" viewBox="0 0 16 15">
      <path d="M15.2727 12.8H0.727273C0.325624 12.8 0 13.1582 0 13.6C0 14.0418 0.325624 14.4 0.727273 14.4H15.2727C15.6744 14.4 16 14.0418 16 13.6C16 13.1582 15.6744 12.8 15.2727 12.8Z"/>
      <path d="M15.2727 9.60001H4.60606C4.20441 9.60001 3.87878 9.95819 3.87878 10.4C3.87878 10.8418 4.20441 11.2 4.60606 11.2H15.2727C15.6744 11.2 16 10.8418 16 10.4C16 9.95819 15.6744 9.60001 15.2727 9.60001Z" />
      <path d="M15.4545 6.39999H4.54545C4.24422 6.39999 4 6.75818 4 7.19999C4 7.64181 4.24422 7.99999 4.54545 7.99999H15.4545C15.7558 7.99999 16 7.64181 16 7.19999C16 6.75818 15.7558 6.39999 15.4545 6.39999Z" />
      <path d="M0.727273 1.6H15.2727C15.6744 1.6 16 1.24181 16 0.8C16 0.358187 15.6744 0 15.2727 0H0.727273C0.325624 0 0 0.358187 0 0.8C0 1.24181 0.325624 1.6 0.727273 1.6Z" />
      <path d="M15.2727 3.2H4.60606C4.20441 3.2 3.87878 3.55818 3.87878 4C3.87878 4.44181 4.20441 4.8 4.60606 4.8H15.2727C15.6744 4.8 16 4.44181 16 4C16 3.55818 15.6744 3.2 15.2727 3.2Z" />
      <path d="M0.0862265 4.83331C0.112831 4.81112 0.142606 4.8 0.172426 4.8C0.202166 4.8 0.231932 4.81112 0.258653 4.83331L2.31376 6.9849C2.36702 7.02923 2.4 7.1113 2.4 7.20004C2.4 7.28877 2.36711 7.37083 2.31376 7.41511L0.258653 9.56679C0.205318 9.61107 0.13957 9.61107 0.0862712 9.56679C0.0329277 9.52236 0 9.44026 0 9.35158L0 5.04843C0 4.95974 0.0328741 4.87768 0.0862265 4.83331Z" />
    </symbol>
    <symbol id="rt-svg-right-align" viewBox="0 0 16 15">
      <path d="M15.2727 12.8H0.727273C0.325624 12.8 0 13.1582 0 13.6C0 14.0418 0.325624 14.4 0.727273 14.4H15.2727C15.6744 14.4 16 14.0418 16 13.6C16 13.1582 15.6744 12.8 15.2727 12.8Z" />
      <path d="M15.2727 9.60001H4.60606C4.20441 9.60001 3.87878 9.95819 3.87878 10.4C3.87878 10.8418 4.20441 11.2 4.60606 11.2H15.2727C15.6744 11.2 16 10.8418 16 10.4C16 9.95819 15.6744 9.60001 15.2727 9.60001Z" />
      <path d="M15.2727 6.39999H0.727273C0.325624 6.39999 0 6.75818 0 7.19999C0 7.64181 0.325624 7.99999 0.727273 7.99999H15.2727C15.6744 7.99999 16 7.64181 16 7.19999C16 6.75818 15.6744 6.39999 15.2727 6.39999Z" />
      <path d="M0.727273 1.6H15.2727C15.6744 1.6 16 1.24181 16 0.8C16 0.358187 15.6744 0 15.2727 0H0.727273C0.325624 0 0 0.358187 0 0.8C0 1.24181 0.325624 1.6 0.727273 1.6Z" />
      <path d="M15.2727 3.2H4.60606C4.20441 3.2 3.87878 3.55818 3.87878 4C3.87878 4.44181 4.20441 4.8 4.60606 4.8H15.2727C15.6744 4.8 16 4.44181 16 4C16 3.55818 15.6744 3.2 15.2727 3.2Z" />
    </symbol>
    <symbol id="rt-svg-strike-through" viewBox="0 0 14 18">
      <path d="M1.6 9.69993H13.2001C13.5865 9.69993 13.9001 9.38636 13.9001 8.99993C13.9001 8.6135 13.5865 8.29993 13.2001 8.29993H1.6C1.21357 8.29993 0.9 8.6135 0.9 8.99993C0.9 9.38636 1.21357 9.69993 1.6 9.69993Z"   stroke-width="0.2"/>
      <path d="M2.49998 12.7C2.49998 15.1364 4.70809 17.1 7.39996 17.1C10.0918 17.1 12.2999 15.1364 12.2999 12.7C12.2999 10.2635 10.0918 8.29993 7.39996 8.29993C5.45576 8.29993 3.89997 6.9409 3.89997 5.30004C3.89997 3.65917 5.45577 2.3 7.39996 2.3C9.34415 2.3 10.8999 3.65917 10.8999 5.30004C10.8999 5.68646 11.2135 6.00003 11.5999 6.00003C11.9864 6.00003 12.2999 5.68646 12.2999 5.30004C12.2999 2.86347 10.0918 0.9 7.39996 0.9C4.7081 0.9 2.49998 2.86347 2.49998 5.30004C2.49998 7.73646 4.7081 9.69993 7.39996 9.69993C9.34415 9.69993 10.8999 11.0591 10.8999 12.7C10.8999 14.3408 9.34415 15.7 7.39996 15.7C5.45577 15.7 3.89997 14.3408 3.89997 12.7C3.89997 12.3135 3.5864 12 3.19997 12C2.81354 12 2.49998 12.3135 2.49998 12.7Z"   stroke-width="0.2"/>
    </symbol>
    <symbol id="rt-svg-subscript" viewBox="0 0 18 16">
      <path d="M13.1819 15.5H16.4546C16.81 15.5 17.1 15.2142 17.1 14.86C17.1 14.5057 16.81 14.22 16.4546 14.22H13.8274V13.5063C13.8274 13.1183 14.1467 12.8 14.5418 12.8H15.0946C16.1999 12.8 17.1 11.9091 17.1 10.8064C17.1 9.71055 16.1997 8.82007 15.0946 8.82007H13.1819C12.8266 8.82007 12.5365 9.10582 12.5365 9.46007C12.5365 9.81432 12.8266 10.1001 13.1819 10.1001H15.0946C15.4891 10.1001 15.8092 10.4178 15.8092 10.8136C15.8092 11.2018 15.4897 11.52 15.0946 11.52H14.5418C13.4367 11.52 12.5365 12.4105 12.5365 13.5063V14.86C12.5365 15.2142 12.8266 15.5 13.1819 15.5Z"   stroke-width="0.2"/>
      <path d="M9.40357 12.3782L9.40345 12.378L1.04 1.93826C1.03999 1.93825 1.03998 1.93824 1.03998 1.93823C0.818079 1.66141 0.865056 1.25818 1.14492 1.03825C1.42438 0.818628 1.83013 0.86606 2.05064 1.14221L2.05059 1.14215L1.97255 1.20467L2.0507 1.14229L9.40357 12.3782ZM9.40357 12.3782C9.53107 12.5367 9.71949 12.62 9.90922 12.62M9.40357 12.3782L9.90922 12.62M9.90922 12.62C10.0498 12.62 10.1911 12.575 10.3092 12.482L10.2473 12.4034L10.3091 12.482L9.90922 12.62ZM10.4139 11.5818L10.336 11.6445L10.4141 11.5819L10.4139 11.5818Z"   stroke-width="0.2"/>
      <path d="M1.04109 11.5819L1.04099 11.5821C0.819452 11.8595 0.866222 12.262 1.14609 12.482C1.2642 12.575 1.40624 12.62 1.54606 12.62C1.73597 12.62 1.92355 12.5366 2.05143 12.3783L2.0517 12.378L10.4153 1.93823L10.4154 1.9381C10.6369 1.66064 10.5902 1.25834 10.3105 1.03833C10.0315 0.818463 9.62574 0.866231 9.4047 1.14215L1.04109 11.5819Z"   stroke-width="0.2"/>
    </symbol>
    <symbol id="rt-svg-superscript" viewBox="0 0 18 16">
      <path d="M13.1819 15.5H16.4546C16.81 15.5 17.1 15.2142 17.1 14.86C17.1 14.5057 16.81 14.22 16.4546 14.22H13.8274V13.5063C13.8274 13.1183 14.1467 12.8 14.5418 12.8H15.0946C16.1999 12.8 17.1 11.9091 17.1 10.8064C17.1 9.71055 16.1997 8.82007 15.0946 8.82007H13.1819C12.8266 8.82007 12.5365 9.10582 12.5365 9.46007C12.5365 9.81432 12.8266 10.1001 13.1819 10.1001H15.0946C15.4891 10.1001 15.8092 10.4178 15.8092 10.8136C15.8092 11.2018 15.4897 11.52 15.0946 11.52H14.5418C13.4367 11.52 12.5365 12.4105 12.5365 13.5063V14.86C12.5365 15.2142 12.8266 15.5 13.1819 15.5Z"   stroke-width="0.2"/>
      <path d="M9.40357 12.3782L9.40345 12.378L1.04 1.93826C1.03999 1.93825 1.03998 1.93824 1.03998 1.93823C0.818079 1.66141 0.865056 1.25818 1.14492 1.03825C1.42438 0.818628 1.83013 0.86606 2.05064 1.14221L2.05059 1.14215L1.97255 1.20467L2.0507 1.14229L9.40357 12.3782ZM9.40357 12.3782C9.53107 12.5367 9.71949 12.62 9.90922 12.62M9.40357 12.3782L9.90922 12.62M9.90922 12.62C10.0498 12.62 10.1911 12.575 10.3092 12.482L10.2473 12.4034L10.3091 12.482L9.90922 12.62ZM10.4139 11.5818L10.336 11.6445L10.4141 11.5819L10.4139 11.5818Z"   stroke-width="0.2"/>
      <path d="M1.04109 11.5819L1.04099 11.5821C0.819452 11.8595 0.866222 12.262 1.14609 12.482C1.2642 12.575 1.40624 12.62 1.54606 12.62C1.73597 12.62 1.92355 12.5366 2.05143 12.3783L2.0517 12.378L10.4153 1.93823L10.4154 1.9381C10.6369 1.66064 10.5902 1.25834 10.3105 1.03833C10.0315 0.818463 9.62574 0.866231 9.4047 1.14215L1.04109 11.5819Z"   stroke-width="0.2"/>
    </symbol>
    <symbol id="rt-svg-underline" viewBox="0 0 12 16">
      <path d="M10.3158 0C9.82747 0 9.43158 0.358187 9.43158 0.8V7.73334C9.43158 9.64486 7.71267 11.2 5.59988 11.2C4.57644 11.2 3.6143 10.8394 2.8906 10.1846C2.16685 9.52987 1.76836 8.65926 1.76842 7.73328V0.8C1.76842 0.358187 1.37253 0 0.88421 0C0.39589 0 4.47431e-09 0.358187 4.47431e-09 0.8V7.73323C-5.89429e-05 9.08656 0.582341 10.3589 1.64009 11.316C2.69779 12.273 4.10409 12.8 5.59988 12.8C8.68778 12.8 11.2 10.5271 11.2 7.73334V0.8C11.2 0.358187 10.8041 0 10.3158 0Z" />
      <path d="M10.3158 14.4H0.88421C0.39589 14.4 0 14.7582 0 15.2C0 15.6418 0.39589 16 0.88421 16H10.3158C10.8041 16 11.2 15.6418 11.2 15.2C11.2 14.7582 10.8041 14.4 10.3158 14.4Z" />
    </symbol>

  </defs>
</svg>
