@import "../../assets/style";

.angular-editor-toolbar {
  font: 100 14px/15px Roboto, Arial, sans-serif;
  padding: 0;
  &-wrap {
    display: flex;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
  }

  .angular-editor-toolbar-set {
    display: flex;
    align-items: center;

    .angular-editor-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 28px;
      width: 20px;
      background-color: transparent;
      border: none;
      min-width: 28px;
      padding: 0;
      color: $def-color;
      transition: 0.2s ease;
      outline: none;
      position: relative;
      cursor: pointer;

      &.clear-button {
        svg {
          position: relative;
          bottom: -1px;
        }
      }

      &.unlink-button {
        &:before {
          transition: .2s ease;
          content: "";
          display: block;
          width: 16px;
          border-radius: 2px;
          height: 1px;
          transform: rotate(35deg);
          background-color: #333;
          position: absolute;
        }
      }

      .horizontal-rule {
        display: block;
        width: 16px;
        height: 2px;
        background: #333;
        border-radius: 2px;
        transition: .2s ease;
      }

      svg {
        margin: auto;
        transition: 0.2s ease;
        fill: $def-color;
      }

      &:hover {
        svg {
          fill: $cv-primary-dark !important;
        }

        .horizontal-rule {
          background-color: $cv-primary-dark !important;
        }

        &.unlink-button {
          &:before {
            background-color: $cv-primary-dark !important;
          }
        }
      }

      &.active {
        svg {
          fill: $cv-primary-dark;
        }

        &.unlink-button {
          &:before {
            background-color: $cv-primary-dark !important;
          }
        }
      }

      &:disabled {
        pointer-events: none;
        cursor: not-allowed;
        svg {
          fill: $disabled-color !important;
        }

        &.unlink-button {
          &:before {
            background-color: $disabled-color !important;
          }
        }

        .horizontal-rule {
          background-color: $disabled-color !important;
        }

        .selected-color {
          background-color: $disabled-color !important;
        }

        > .color-label {
          pointer-events: none;
          cursor: not-allowed;
        }
      }

      &:last-child {
        margin-right: 5px;
      }
    }


    .toggle-button {
      width: auto;

      svg.opened {
        fill: $cv-primary-dark;
      }
    }

    .angular-editor-button[hidden] {
      display: none;
    }

    select {
      font-size: 11px;
      width: 90px;
      vertical-align: middle;
      background-color: transparent;
      border: 0.5px solid rgba(255, 255, 255, 0);
      border-radius: 5px;
      outline: none;
      padding: 0.4rem;
      cursor: pointer;
    }

    .select-heading {
      display: inline-block;
      width: 90px;
      transition: 0.2s ease;
      margin-right: 5px;
      @supports not( -moz-appearance:none ) {
        optgroup {
          font-size: 12px;
          background-color: #f4f4f4;
          padding: 5px;
        }
        option {
          border: 1px solid;
          background-color: white;
        }
      }

      &:disabled {
        background-color: #f5f5f5;
        pointer-events: none;
        cursor: not-allowed;
      }

      &:hover {
        cursor: pointer;
        background-color: #f1f1f1;
      }
    }

    .select-font {
      display: inline-block;
      width: 90px;
      @supports not( -moz-appearance:none ) {
        optgroup {
          font-size: 12px;
          background-color: #f4f4f4;
          padding: 5px;
        }
        option {
          border: 1px solid;
          background-color: white;
        }
      }

      &:disabled {
        background-color: #f5f5f5;
        pointer-events: none;
        cursor: not-allowed;
      }

      &:hover {
        cursor: pointer;
        background-color: #f1f1f1;
        transition: 0.2s ease;
      }
    }

    .select-custom-style {
      display: inline-block;
      width: 90px;
      @supports not( -moz-appearance:none ) {
        optgroup {
          font-size: 12px;
          background-color: #f4f4f4;
          padding: 5px;
        }
        option {
          border: 1px solid;
          background-color: white;
        }
      }

      &:disabled {
        background-color: #f5f5f5;
        pointer-events: none;
        cursor: not-allowed;
      }

      &:hover {
        cursor: pointer;
        background-color: #f1f1f1;
        transition: 0.2s ease;
      }
    }

    .color-label {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .selected-color {
      display: block;
      position: absolute;
      right: 2px;
      top: 2px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
  }

  .angular-editor-toolbar-set-color {
    position: relative;

    ::ng-deep .color-picker {
      left: initial !important;
      right: 65px !important;
      top: 0 !important;
      bottom: initial !important;
      position: absolute !important;
    }
  }
}

.select-button {
  display: inline-block;

  &.disabled {
    cursor: pointer;
    background-color: #f1f1f1;
    transition: 0.2s ease;
  }
}
